body {
    font-family: "GFS Didot", serif;
    background-color: #ffdada; /* Light Ivory for a warm feel */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: rgb(231, 144, 144);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 600px;
    width: 90%;
    text-align: center;
}
h1 {
    color: #fa1b1b; /* Orange to match the rose and theme */
}
.message {
    margin-bottom: 1.5rem;
    text-align: center; /* Align the message text to the left */
    white-space: pre-line; /* Respect line breaks in the text */
}

.quote {
    margin-bottom: 1.5rem;
    font-style: italic;
    color: #fa1b1b;
}
.author {
    font-size: 0.9rem;
    color: #fa1b1b;
}

.rose {
    font-size: 5rem;
    margin-bottom: 1.5rem;
    display: inline-block;
}